<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/static/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">
	
<!-- Header -->
	<header class="header-v2">
		<!-- Header desktop -->
		<div class="container-menu-desktop trans-03">
			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop p-l-45">

					<!-- Logo desktop -->
					<a href="/" class="logo">
						<img width="150" src="/static/images/icons/logo-01.jpeg" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="/">Home</a>
							</li>

							<li>
								<a href="{% url 'products' %}">Products</a>
							</li>
							<li>
								<a href="{% url 'blog' %}">Blog</a>
							</li>

							<li>
								<a href="{% url 'aboutus' %}">About Us</a>
							</li>

							<li  class="active-menu">
								<a href="{% url 'contactus' %}">Contact Us</a>
							</li>							
						</ul>
					</div>

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m h-full">
						<div class="flex-c-m h-full p-r-24">
							<div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-modal-search">
								<i class="zmdi zmdi-search"></i>
							</div>
						</div>
						<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="{% url 'login' %}">Login <img src="/static/images/thamesloginicon.png" width="15px" height="15px"></a>
							</li>
						</ul>
						</div>
						<div class="menu-desktop">
						<ul class="main-menu">
							<li style="margin-right: 50px;">
								<a href="{% url 'signup' %}">Signup <img src="/static/images/thamessignupicon.png" width="18px" height="18px"></a>
							</li>
						</ul>
						</div>


					</div>
				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="/"><img src="/static/images/icons/logo-01.jpeg" alt="IMG-LOGO"></a>
			</div>
			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>
			</div>


			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">


						<ul class="main-menu-m">
							<li>
								<a href="/">Home</a>
							</li>

							<li>
								<a href="{% url 'products' %}">Products</a>
							</li>
							<li>
								<a href="{% url 'blog' %}">Blog</a>
							</li>

							<li >
								<a href="{% url 'aboutus' %}">About Us</a>
							</li>

							<li  class="active-menu">
								<a href="{% url 'contactus' %}">Contact Us</a>
							</li>	
							<li>
								<a href="{% url 'login' %}">Login <img src="/static/images/thamesloginicon.png" width="15px" height="15px"></a>
							</li>
							<li style="margin-right: 50px;">
								<a href="{% url 'signup' %}">Signup <img src="/static/images/thamessignupicon.png" width="18px" height="18px"></a>
							</li>						
						</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="/static/images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>


	<!-- Title page -->



	<!-- Content page -->
	<section class="bg0 p-t-104 p-b-116" style="background-image: url('/static/images/contactbg-05.jpg');    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;">
    		<h2 class="ltext-105 cl0 txt-center">
			Contact Us
		</h2>
		<div class="container">
			<div class="flex-w flex-tr">
				<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md" style="border: 0px solid #e6e6e6;">
					<form>
						<h4 class="mtext-105 cl2 txt-center p-b-30" style="color: white">
							Send Us A Message
						</h4>

						<div class="bor8 m-b-20 how-pos4-parent">
							<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="email" placeholder="Your Email Address">
							<img class="how-pos4 pointer-none" src="/static/images/icons/icon-email.png" alt="ICON">
						</div>

						<div class="bor8 m-b-30">
							<textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" name="msg" placeholder="How Can We Help?"></textarea>
						</div>

						<button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
							Submit
						</button>
					</form>
				</div>

				<div class="size-210 bor10 flex-w flex-col-m p-lr-93 p-tb-30 p-lr-15-lg w-full-md" style="border: 0px solid #e6e6e6;">
					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211" style="color: white;">
							<span class="lnr lnr-map-marker"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2" style="color: white; font-weight: bold; font-size: 1.5em;">
								Address
							</span>

							<p class="stext-115 cl6 size-213 p-t-18" style="color: white; font-weight: bold; ">
								New Delhi
							</p>
						</div>
					</div>

					<div class="flex-w w-full p-b-42">
						<span class="fs-18 cl5 txt-center size-211" style="color: white; font-weight: bold; font-size: 1.5em;">
							<span class="lnr lnr-phone-handset"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2" style="color: white; font-weight: bold; font-size: 1.5em;">
								Lets Talk
							</span>

							<p class="stext-115 cl1 size-213 p-t-18" style="color: white; font-weight: bold;">
								+91 9953068351
							</p>
						</div>
					</div>

					<div class="flex-w w-full">
						<span class="fs-18 cl5 txt-center size-211" style="color: white; font-weight: bold; font-size: 1.5em;">
							<span class="lnr lnr-envelope"></span>
						</span>

						<div class="size-212 p-t-2">
							<span class="mtext-110 cl2" style="color: white; font-weight: bold; font-size: 1.5em;">
								Sale Support
							</span>

							<p class="stext-115 cl1 size-213 p-t-18" style="color: white; font-weight: bold; ">
								daneshkhandelwal@live.com
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	




	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-4 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Mapsite
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="/" class="stext-107 cl7 hov-cl1 trans-04">
								Home
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% url 'products' %}" class="stext-107 cl7 hov-cl1 trans-04">
								Products
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% url 'aboutus' %}" class="stext-107 cl7 hov-cl1 trans-04">
								About Us
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% url 'blog' %}" class="stext-107 cl7 hov-cl1 trans-04">
								Blog
							</a>
						</li>					
					</ul>
				</div>

				<div class="col-sm-6 col-lg-4 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Get in Touch
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="{% url 'contactus' %}" class="stext-107 cl7 hov-cl1 trans-04">
								<i class="fa d-inline mr-3 text-secondary fa-phone"></i>+91-9953068351
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% url 'contactus' %}" class="stext-107 cl7 hov-cl1 trans-04">
								 <i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>daneshkhandelwal@live.com
							</a>
						</li>

						<li class="p-b-10">
							<a href="{% url 'contactus' %}" class="stext-107 cl7 hov-cl1 trans-04">
								  <i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>New Delhi
							</a>
						</li>


					</ul>
				</div>

				<div class="col-sm-6 col-lg-4 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Thames
					</h4>

					<p class="stext-107 cl7 size-201">
						We Manufacture High Quality C.p.(Chrome Plated) bathroom fitting which is made of brass only Bcoz Brass dont rust or react with water which gives Bathroom fittings true long life. 
					</p>


				</div>

			
			</div>

			<div class="p-t-40">
				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Thames - All rights reserved.<!-- | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>



	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<!--===============================================================================================-->	
	<script src="/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="/static/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
	<script src="/static/js/map-custom.js"></script>
<!--===============================================================================================-->
	<script src="/static/js/main.js"></script>

</body>
</html>